@import "./variables.scss";
@import "./reset.css";

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background: $color-commander-cody;
  font-family: $font-family-system;
  font-size: $font-size-base;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-image: url(/static/images/root@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (min-device-pixel-ratio: 1.3),
        only screen and (min-resolution: 120dpi) {
  body { background-image: url(/static/images/root@2x.jpg) }
}

#root {
  -webkit-overflow-scrolling: touch;
  min-width: $screen-xs;
  height: 100%;
  overflow: hidden;
  user-select: none;
}
